<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Voting</title>
  </head>
  <body>
    <h2>Create a New Voting</h2>
    <form method="post" action="{% url 'create_voting' %}" id="voting-form" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="id_voting_type">Voting Type:</label>
      <select name="voting_type" id="id_voting_type">
        <option value="single">One of Many</option>
        <option value="multiple">Multiple Choices</option>
      </select>

      {{ form.as_p }}

      <div id="options-container">
        <label for="id_options">Options:</label>
        <div class="options-wrapper">
          <input
            type="text"
            name="option-field"
            class="option-field"
            required
          />
          <button type="button" class="add-option-btn">Add Option</button>
        </div>
      </div>
      <button type="submit">Create Voting</button>
    </form>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const optionsContainer = document.getElementById("options-container");
        const addOptionBtn = document.querySelector(".add-option-btn");

        addOptionBtn.addEventListener("click", function () {
          const newInput = document.createElement("input");
          newInput.type = "text";
          newInput.name = "option-field";
          newInput.className = "option-field";
          newInput.required = true;

          const wrapper = document.createElement("div");
          wrapper.className = "options-wrapper";
          wrapper.appendChild(newInput);

          optionsContainer.appendChild(wrapper);
        });
      });
    </script>
  </body>
</html>
