<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'NavBar\NavBar.css' %}" />
    <link rel="stylesheet" href="{% static 'voting_list\voting_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css\scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'reset.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://myfonts.ru/myfonts?fonts=Nasalization"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="voting-list-block">
      <nav class="navbar">
        <div class="navbar__title-container">
          <img src="{% static 'data/SpaceAlien_logo.svg' %}" />
        </div>
        <div class="navbar__container">
          <div class="navbar__item active">
            <img src="{% static 'data/home.svg' %}" />
            <a href="{% url 'voting_list' %}">Главная</a>
          </div>
          <div class="navbar__item">
            <img src="{% static 'data/notifications.svg' %}" />
            <a href="{% url 'voting_list' %}">Уведомления</a>
          </div>
          <div class="navbar__item">
            <img src="{% static 'data/article.svg' %}" />
            <a href="{% url 'voting_list' %}">Публикации</a>
          </div>
          <div class="navbar__item">
            <img src="{% static 'data/account.svg' %}" />
            <a href="{% url 'voting_list' %}">Аккаунт</a>
          </div>
          <div class="navbar__item">
            <img src="{% static 'data/about.svg' %}" />
            <a href="{% url 'voting_list' %}">О нас</a>
          </div>
        </div>
      </nav>
      <div class="voting-list-container">
        <div class="top__container">
          <div class="search-bar__container">
            <input type="text" class="search-bar" placeholder="Search..." />
          </div>
          <div class="enter-button__container">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="enter-button">Выйти</a>
            {% else %}
            <a href="{% url 'login' %}" class="enter-button">Войти</a>
            {% endif %}
          </div>
        </div>
        <div class="voting-list">
          {% for voting in votings %}
          <div class="voting-list__item">
            <div class="item__creater">
              <div class="creater__icon"></div>
              <div class="creater__name">
                <p>{{ voting.author.username }}</p>
              </div>
            </div>
            <a href="{% url 'voting_detail' voting.id %}" class="item__title"
              >{{ voting.title }}</a
            >
            <p class="item__description">{{ voting.description }}</p>
            <a class="edit_button" href="{% url 'edit_voting' voting.id %}"
              >edit</a>
          </div>
          {% endfor %}
          <a href="{% url 'create_voting' %}">Здесь мог быть ваш новый опрос</a>
        </div>
      </div>
    </div>
  </body>
</html>
