{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\voting.css' %}">
    <link rel="stylesheet" href="{% static 'css\menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css\header.css' %}" />
    <link rel="stylesheet" href="{% static 'css\scrollbar.css' %}" />
</head>
<body>
    <div class="nav">
        <div class="nav__container">
            <div class="nav_logo">
                <div class="nav_logo_container">
                    <a class="nav_logo-link" href="" title="SpaceAlien">
                        <div class="nav_logo-svg_container">
                            <img class="nav_logo-svg" src="{% static 'data\SpaceAlien_logo.svg' %}" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="menu__container">
                <nav class="menu__link-bar">
                    <ul class="menu__list">
                        <li class="menu__item active" role="listitem">
                            <a class="menu__link" href="">
                                <div class="menu__link_container">
                                    <div class="menu__icon">
                                        <img src="{% static 'data\home.svg' %}" alt="">
                                    </div>
                                    <div class="menu__title">
                                        Главная
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="menu__item no_active" role="listitem">
                            <a class="menu__link" href="">
                                <div class="menu__link_container">
                                    <div class="menu__icon">
                                        <img src="{% static 'data\notifications.svg' %}" alt="">
                                    </div>
                                    <div class="menu__title">
                                        Уведомления
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="menu__item no_active" role="listitem">
                            <a class="menu__link" href="">
                                <div class="menu__link_container">
                                    <div class="menu__icon">
                                        <img src="{% static 'data\article.svg' %}" alt="">
                                    </div>
                                    <div class="menu__title">
                                        Публикации
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="menu__item no_active" role="listitem">
                            <a class="menu__link" href="">
                                <div class="menu__link_container">
                                    <div class="menu__icon">
                                        <img src="{% static 'data\account.svg' %}" alt="">
                                    </div>
                                    <div class="menu__title">
                                        Аккаунт
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="menu__item no_active" role="listitem">
                            <a class="menu__link" href="">
                                <div class="menu__link_container">
                                    <div class="menu__icon">
                                        <img src="{% static 'data\about.svg' %}" alt="">
                                    </div>
                                    <div class="menu__title">
                                        О нас
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="content">
        <header>
            <div class="header_search">
                <div class="header_search_container">
                    <div class="header__search__input__container">
                        <input id="input" class="header__search__input" type="search" autocomplete="off" spellcheck="false"
                               role="combobox" aria-controls="matches" placeholder="Введите поисковый запрос"
                               aria-expanded="false" aria-live="polite">
                    </div>
                    <div class="header__search__cancellation">
                        <img src="{% static 'data\cancellation.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="header__log">
                {% if user.is_authenticated %}
                    <div class="header__log__container">
                        <a class="header__log-text" href="{% url 'logout' %}">Выйти</a>
                    </div>
                {% else %}
                    <div class="header__log__container">
                        <a class="header__log-text" href="{% url 'login' %}">Войти</a>
                    </div>
                {% endif %}
            </div>
        </header>
        <main>
            <div class="card">
                <div class="card__back">
                    <a class="card__back__link" href="/">
                        <div class="card__back__conteiner">
                            <div class="card__back__image">
                                <img src="{% static 'data\back.svg' %}" alt="">
                            </div>
                            <div class="card__back__title">
                                Назад
                            </div>
                        </div>  
                    </a>
                </div>
                <div class="card__container">
                    <div class="card__profile_image">
                        <div class="card__profile_image__conteiner">
                            <img src="{% static 'data\test.png' %}" alt="">
                        </div>
                    </div>
                    <div class="card__information">
                        <div class="card__title__container">
                            <div class="card__title">{{ voting.author.username }}</div>
                            <div class="card__type">Опрос</div>
                        </div>
                        <div class="card__description">{{ voting.title }}</div>
                        <form class="card__variants" method="post" action="{% url 'voting_detail' voting.id %}" id="votingForm">
                            {% csrf_token %}
                            {% if already_voted == 0 %}
                            <ul class="card__variants__list">
                                {% for option in options %}
                                    <li class="card__variants__item">
                                        <div class="card__variants__item__container">
                                            <div class="card__variants__button">
                                                <input type="radio" name="option" value="{{ option.id }}" id="{{ option.id }}" required/>
                                            </div>
                                            <div class="card__variants__content" >
                                                <label for="{{ option.id }}">{{ option.content }}</label>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="card__send__container">
                                <button class="card__send" id="card__send__button" onclick="send_voting()">Отправить</button>
                                <div class="card__voted__image" id="is_voted">
                                    <img src="{% static 'data\check.svg' %}" alt="">
                                </div>
                            </div>
                            {% elif already_voted == 1 %}
                            <ul>
                                {% for option in options %}
                                <li>
                                    {% for id, percent in vote_percents.items %}
                                        {% if id == option.id %}
                                            <p>{{ option.content }} выбрало {{ percent }}% пользователей</p>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        window.onload = check_voted()

        function check_voted() {
            let card = document.getElementById("card__send__button");
            let is_voted = document.getElementById("is_voted");
            if ({{ already_voted }} == 1) {
                card.classList.toggle('card__voted');
                card.style.cursor = 'not-allowed';
                is_voted.style.display = 'flex';
            }
            else {
                is_voted.style.display = 'none';
                card.style.cursor = 'pointer';
            }
        }


        function send_voting() {
            if ({{ already_voted }} != 1) {
                let form = document.getElementById('votingForm');
                form.submit();
            }
        }
    </script>
</body>
</html>
