.navbar {
    position: sticky;
    left: 0;
    top: 0;
    background: #fff;
    border-right: 1px solid black ;
    height: 100vh;
    flex:1;
}

.navbar__container{
    padding: calc(20px + 65 * (100vw / 1080));
    width: max-content;
    margin: 0 auto;
    height: 100%;
    gap:30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar__item {
    color:#2e2e2e;
    font-size: calc(25px + 5 * (100vw / 1080));
    text-align: left;
}

@media (max-width: 750px) {
    .navbar {
        width: 100%;
        top: 0;
        height: 70px;
        border-bottom: 1px solid black;
        border-right: none;
    }
    .navbar__container{
        padding: calc(5px + 15 * (100vw / 1080)) 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  }