@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');


*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --black_color_font: #1C1C1E;
    --light_grey_logo_hover: #f2f2f7;
    --border_section: #E5E5EA;
    --background_color_section: #ffffff;
    --blue: #438FF4;
    --hover_color: rgba(242, 242, 247, 0.8);
    --border_radius: 5px;
    --animation_transition: .3s;
    --nav_width: 198px;
}

::-webkit-scrollbar {
    background: transparent;
    width: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 50%);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}

.nav {
    width: var(--nav_width);
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    border-right: 2px solid var(--border_section);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2020;
}

.nav__container {
    width: 100%;
    height: auto;

    padding: 16px;
    display: flex;
    flex-direction: column;
}

.nav_logo {
    width: auto;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo_container {
    width: auto;
    height: 100%;
    max-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border_radius);
    transition: var(--animation_transition);
}

.nav_logo-link {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    padding: 0px 6px;
}

.nav_logo-svg_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo_container:hover {
    background-color: var(--light_grey_logo_hover);
}

.menu__link-bar {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.menu__list {
    display: block;
    padding-top: 8px;
}

.active {
    width: auto;
    height: auto;

    padding: 8px;
    border-radius: var(--border_radius);

    border: 2px solid var(--blue);
    background-color: #ffffff;
}

.no_active {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #ffffff;
    opacity: 1;
    transition: var(--animation_transition);
}

.no_active:hover {
    background-color: var(--hover_color);
}

.menu__item {
    width: 100%;
    height: auto;

    border-radius: var(--border_radius);

    padding: 8px;
    margin: 4px 0;
}

.menu__list {
    list-style: none;
}

.menu__link_container {
    height: 100%;
    width: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__icon {
    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__title a {
    padding-left: 8px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--black_color_font);
    text-decoration: none;
}

.content {
    max-width: 100%;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    margin: 0 0 0 var(--nav_width);
}

header {
    width: 100%;
    height: 80px;

    border-bottom: 2px solid var(--border_section);
    background-color: var(--background_color_section);

    position: fixed;
    z-index: 2020;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.header_search {
    width: 45%;
    height: 100%;

    padding: 16px;
    margin-left: 16px;
}

.header_search_container {
    width: 100%;
    height: 100%;

    border: 2px solid var(--blue);
    border-radius: var(--border_radius);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__search__input__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__search__input {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: var(--border_radius) 0 0 var(--border_radius);

    padding-left: 16px;
}

.header__search__cancellation {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 8px;
}

.header__search__input:focus {
    outline: none !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.header__logout {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    padding-right: 16px;
}

.header__logout__container {
    width: auto;
    height: 42px;

    padding: 0px 22px;
    border-radius: var(--border_radius);

    background-color: var(--blue);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--animation_transition);
    cursor: pointer;
}

.header__logout__container:hover {
    background-color: var(--blue);
    opacity: 0.8;
}

.header__log-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

main {
    width: 100%;
    height: auto;

    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.cards {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.card__list {
    width: 100%;
    height: auto;

    list-style: none;
}

.card__item {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--border_section);
    padding: 16px 0;
}

.card__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__profile_image {
    width: auto;
    height: 100%;

    padding: 0 16px;
    margin-bottom: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__title__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__title {
    width: auto;
    height: auto;
    font-size: 1.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

.card__type {
    width: auto;
    height: auto;
    margin-left: 8px;
    padding: 2px 8px;
    background-color: var(--blue);
    color: #ffffff;
    border-radius: var(--border_radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__description {
    padding-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.card__more {
    width: auto;
    height: 100%;

    padding: 0 16px 0 24px;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card__more__container {
    width: auto;
    height: auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--animation_transition);
}

.card__more__container:hover {
    background-color: var(--hover_color);
}