@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import url('root.css');

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.nav {
    width: var(--nav_width);
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    border-right: 2px solid var(--border_section);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2020;
}

.nav__container {
    width: 100%;
    height: auto;

    padding: 16px;
    display: flex;
    flex-direction: column;
}

.nav_logo {
    width: auto;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo_container {
    width: auto;
    height: 100%;
    max-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border_radius);
    transition: var(--animation_transition);
}

.nav_logo-link {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    padding: 0px 6px;
}

.nav_logo-svg_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo_container:hover {
    background-color: var(--light_grey_logo_hover);
}

.menu__link-bar {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.menu__list {
    display: block;
    padding-top: 8px;
}

.active {
    width: auto;
    height: auto;

    padding: 8px;
    border-radius: var(--border_radius);

    border: 2px solid var(--blue);
    background-color: #ffffff;
}

.no_active {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #ffffff;
    opacity: 1;
    transition: var(--animation_transition);
}

.no_active:hover {
    background-color: var(--hover_color);
}

.menu__item {
    width: 100%;
    height: auto;

    border-radius: var(--border_radius);

    padding: 8px;
    margin: 4px 0;
}

.menu__list {
    list-style: none;
}

.menu__link {
    text-decoration: none;
}

.menu__link_container {
    height: 100%;
    width: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__icon {
    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__title {
    padding-left: 8px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--black_color_font);
}