@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import url('root.css');

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.content {
    max-width: 100%;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    margin: 0 0 0 var(--nav_width);
}

main {
    width: 100%;
    height: auto;

    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.card {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    border-bottom: 2px solid var(--border_section);
    padding: 16px 0;
}

.card__back {
    width: auto;
    height: auto;

    padding: 0 0 16px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__back__link {
    color: var(--black_color_font);
    text-decoration: none;
}

.card__back__link:visited {
    color: var(--black_color_font);
}

.card__back__conteiner {
    width: auto;
    height: auto;

    border-radius: var(--border_radius);
    padding: 4px 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: var(--animation_transition);
}

.card__back__conteiner:hover {
    background-color: var(--hover_color);
}
.card__back__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__back__title {
    color: var(--black_color_font);
    padding-left: 8px;
}

.card__container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__profile_image {
    width: auto;
    height: 100%;

    padding: 0 16px;
    margin-bottom: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card__information {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
}
.card__title__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__title {
    width: auto;
    height: auto;
    font-size: 1.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

.card__type {
    width: auto;
    height: auto;
    margin-left: 8px;
    padding: 2px 8px;
    background-color: var(--blue);
    color: #ffffff;
    border-radius: var(--border_radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__description {
    padding-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}
.card__image__container {
    width: 100%;
    height: auto;
    padding: 16px 0;
}
.card__image {
    border-radius: var(--border_radius);
}


.card__variants {
    width: auto;
    height: auto;
    padding-top: 8px;
}

.card__variants__list {
    width: auto;
    height: auto;
    list-style: none;
}

.card__variants__item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0;
    margin: 2px 0;
}

.card__variants__item__container {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: var(--border_radius);
    padding: 8px 12px;

    background-color: #ffffff;
    transition: var(--animation_transition);
}

.card__variants__item__container:hover {
    background-color: var(--hover_color);
}

.card__variants__content {
    padding-left: 8px;
}

.card__send__container {
    width: auto;
    height: auto;

    margin-top: 16px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card__send {
    width: auto;
    height: auto;

    padding: 6px 8px;
    font-weight: 600;
    background-color: var(--blue);
    color: #ffffff;

    border-radius: var(--border_radius);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
}
.card__send:hover {
    cursor: pointer;
}
.card__send:active, .card__send:focus {
    outline: none !important;
}

.card__voted {
    opacity: 0.6;
}

.card__voted__image {
    width: auto;
    height: auto;

    margin-left: 12px;

    display: none;
    justify-content: center;
    align-items: center;
}